<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferramentas escolares</title>
</head>
<body>

    <div class="header-main-connect">
    <header class="test">
        <nav class="navbar">
            <div class="div-navbar">
                <div height="10px"></div>
                <div class="profile-user"></div>
                <ul>
                    <li><a href="">Sobre</a></li>
                </ul>

                <ul>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
          </nav>
    </header>

    <main class="main-content" class="test">
        <nav class="secondary-horizontal-navbar">
                <ul>
                    <h1>ferramentas estudantis</h1>
                </ul>
                
                <ul>
                    <h1>nota trimestre</h1>
                </ul>

                <ul>
                    <h1>nota final</h1>
                </ul>
        </nav>

        <div class="background-main"></div>

    </main>

</div>

<footer class="footer-main">
    <ul>
        <div class="instagram"></div>
        <p>Instagram</p>
    </ul>

    <ul>
        <div class="facebook"></div>
        <p>Facebook</p>
    </ul>

    <ul>
        <div class="x-socialmedia"></div>
        <p>Twitter</p>
    </ul>
</footer>
</body>
</html>