@font-face {
    font-family: abecedary;
    src: url(../fonts/Abecedary.ttf);

    font-family: Stronger;
    src: url(../fonts/Stronger.ttf);

    font-family: Bighuge;
    src: url(../fonts/BIGHUGE.ttf);
}


* {
    font-family: Bighuge;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    border: 0;
    color: whitesmoke;
    text-shadow: 1px 1px 1px hsl(192, 46%, 17%);
}

.profile-user {
    background-image: url(user-profile.png);
    width: 100px;
    height: 100px;
    background-size: 100%;
}

.navbar {
    
    border: 1px dotted black;
    display: flex;
    background-color: #900C3f;
    grid-auto-columns: auto;
    justify-content: center;
    text-align: center;
    width: 9rem;
    height: 100%;
    list-style-type: none;
}

.distance {
    margin: 20px;
}

li, a {
    font-size: 1.5rem;
    text-decoration: none;
    list-style-type: none;
}

.header-main-connect {
    display: flex;
}

.secondary-horizontal-navbar {
    text-decoration: underline ;
    border: 1px dotted black;
    background-color: #C70039;
    width: 100vmax;
    height: 4rem; 
    display: flex;
    font-size: 1rem;
    padding-bottom: 8px;
}

ul {
    margin: auto
}

.div-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

::-webkit-scrollbar {
    display: none;
}

.background-main{
    background-image: url('./3996944.jpg');
    width: 100%;
    height: 63rem;
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer-main {
    border: 2px dotted black;
    background-color:#FF5733;
    width: 1920px;
    padding: 10px;
    height: 5rem;
    display: flex;
}

.instagram {
    background-image: url('instagram.png');
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.facebook {
    background-image: url('facebook.png');
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.x-socialmedia {
    background-image: url('twitter.png');
    width: 40px;
    height: 40px;
    background-size: 100%;
}

p {
    text-align: center;
}

@media screen and (max-width: 2560px) {
    .secondary-horizontal-navbar {
        width: 100vmax;
}

    .footer-main {
        width: 100vmax;
}
}


@media screen and (max-width: 1280px) {
    .secondary-horizontal-navbar {
        width: 90%;
}

    .footer-main {
        width: 110.5vmax;
}

    .background-main{
        width: 1280px;
        height: 1080px;
        background-size: 160%
    }
}



